@model PlovdivTournament.Web.Manage.Models.TournamentsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manage/Views/Shared/Admin_Layout.cshtml";
}

<script type="text/javascript">
    function SaveTournament() {
        var form = $("#SaveTournamentForm");
        form.submit();
    };
</script>




<table>
@foreach (var tournament in Model.Tournaments)
{
    <tr>
    <td>@tournament.Name</td>
    <td>@tournament.Place</td>
    <td>@tournament.StartDate</td>
    <td>@tournament.EndDate</td>
    @if (!tournament.IsActive)
    {
    <td><a href="~/Manage/Tournaments/MakeActive?id=@tournament.Id">Make Active</a></td>
    }
    else
    { 
    <td>Active</td>
    }

    </tr>
}
</table>
<div>
    @using (Html.BeginForm("SaveTournament", "Tournaments", FormMethod.Post, new { id = "SaveTournamentForm" }))
    {
        <fieldset>
            <legend>Make new Tournament</legend>
            <p>
                @Html.TextBoxFor(x => x.NewTournament.Name, new { placeholder = "Name" })
            </p>
            <p>
                @Html.TextBoxFor(x => x.NewTournament.Place, new { placeholder = "Place" })
            </p>
            <p>
                @Html.TextBoxFor(x => x.NewTournament.StartDate, new { placeholder = "Start Date" })
            </p>
            <p>
                @Html.TextBoxFor(x => x.NewTournament.EndDate, new { placeholder = "End Date" })
            </p>

            <div class="clearfix"></div>
        
            <p><a class="RegButton" href="#" onclick="SaveTournament(); return false">Save</a></p>

            <div class="clearfix"></div>
        </fieldset>
    }
</div>