@model PlovdivTournament.Web.Manage.Models.MasterViewModel
<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html"; charset="1251">
	<meta name="Content-Language" content="bg">
	<meta name="publisher" content="Idit">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="~/Resources/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="~/Resources/css/style.css" />
	<link rel="stylesheet" type="text/css" href="~/Resources/css/admin.css" />
	@*<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>*@
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<script src="@Url.Content("~/Resources/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script src="@Url.Content("~/Resources/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Resources/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
	<script type="text/javascript" src="~/Resources/scripts/tinymce/js/tinymce/tinymce.min.js"></script>
	<script type="text/javascript">
		tinymce.init({
			selector: "h1.editable",
			inline: true,
			toolbar: "undo redo",
			menubar: true
		});

		tinymce.init({
			selector: "div.editable",
			inline: true,
			theme: "modern",
			plugins: [
				"advlist autolink lists link image charmap print preview hr anchor pagebreak",
				"searchreplace wordcount visualblocks visualchars code fullscreen",
				"insertdatetime media nonbreaking save table contextmenu directionality",
				"emoticons template paste textcolor"
			],
			toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
			toolbar2: "print preview media | forecolor backcolor emoticons | fontsizeselect",
			image_advtab: true,
			templates: [
				{ title: 'Test template 1', content: 'Test 1' },
				{ title: 'Test template 2', content: 'Test 2' }
			]
		});
    </script>
	<script type="text/javascript">
		function get_form(element) {
			while (element) {
				element = element.parentNode
				if (element.tagName.toLowerCase() == "form") {

					return element
				}
			}
			return 0;
		};

		function save_html() {
			var content = $('#Content_Wrap').html();
			$('#hidden_content').val(encodeURIComponent(content));
			$('#hidden_page').val('@String.Format("{0}/{1}", HttpContext.Current.Request.RequestContext.RouteData.Values["controller"], HttpContext.Current.Request.RequestContext.RouteData.Values["action"])');
		};

	    $(function () {
	        $('#LanguageDropDown').change(function () {
	            $('#hidden_languageDropDown_page').val('@String.Format("{0}/{1}", HttpContext.Current.Request.RequestContext.RouteData.Values["controller"], HttpContext.Current.Request.RequestContext.RouteData.Values["action"])');
	            $('#LanguageDropDownForm').submit();
	        })
	    });

	    //$(function () {
	    //    $("#startDatePicker").datepicker({ dateFormat: 'dd-mm-yy', changeYear: true, defaultDate: new Date() });
	    //    $("#endDatePicker").datepicker({ dateFormat: 'dd-mm-yy', changeYear: true, defaultDate: new Date() });
	    //});
	</script>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
    @if (!Model.UserIsAuthenticated)
    {
        Response.Redirect("/");
    }

	<div id="wrapper">
		<header>
			<div class="AdminNav">
				<div id="Menu">
					<ul>
						<li><a href="~/Manage/Tournaments">Tournaments</a></li>
						<li><a href="#">Info</a></li>
						<li><a href="#">Categories</a></li>
						<li><a href="#">Gallery</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>	
				</div>
			</div>
			<div class="logo">
				<a href="~/Manage/Home/Index"><img src="~/Resources/imgs/logo.png" alt="LOGO" /></a>
			</div>
			<div class="clearfix"></div>
            <div class="LanguageDropDown">
                @using (Html.BeginForm("ChangeLanguage", "Master", FormMethod.Post, new { id = "LanguageDropDownForm" }))
                {
                    @Html.HiddenFor(x => x.Page, new { id = "hidden_languageDropDown_page"})
                    @Html.DropDownListFor(x => x.CurrentLanguage, new SelectList(Model.Cultures), new { id = "LanguageDropDown" })
                }
            </div>
			<nav>
				<ul>
					<li><a href="#">Инфо</a>
						<ul>
							<li><a href="~/Manage/Info/Program">Програма</a></li>
							<li><a href="~/Manage/Info/Referees">Жури</a></li>
							<li><a href="~/Manage/Info/Workshops">Семинари</a></li>
							<li><a href="~/Manage/Info/Prizes">Награди</a></li>
							<li><a href="~/Manage/Info/Accommodation">Настаняване</a></li>
						</ul>
					</li>
					<li><a href="#">Регламент</a>
						<ul>
							<li><a href="~/Manage/Info/Categories">Категории</a></li>
							<li><a href="~/Manage/Info/Styles">Стилове</a></li>
							<li><a href="~/Manage/Info/Rules">Правила</a></li>
							<li><a href="~/Manage/Info/Evaluation">Оценяване</a></li>
						</ul>
					</li>
					<li><a href="~/Manage/Info/Taxes">Такси</a></li>
					<li><a href="~/Manage/Register/Index">Регистрация</a></li>
					<li><a href="#">Галерия</a>
						<ul>
							<li><a href="~/Manage/Gallery/UploadVideo">Видео</a></li>
							<li><a href="~/Manage/Gallery/UploadPhoto">Снимки</a></li>
						</ul>
					</li>
					<li><a href="~/Manage/Info/Results">Резултати</a></li>
					<li><a href="~/Manage/Info/AboutUs">Контакти</a></li>
				</ul>
			</nav>
			<div class="clearfix"></div>
		</header>
		<section id="content">
			@RenderBody()
		</section>
		<footer>
			<div class="logo">
				<a href="~/Manage/Home/Index"><img src="~/Resources/imgs/logo.png" alt="LOGO" /></a>
			</div>
			<div id="SocialWrap">
				<a href="https://www.facebook.com/samodiva1998?ref=ts&fref=ts" target="_blank"><img src="~/Resources/imgs/f.png" alt="LOGO" /></a>
				<a href="http://www.youtube.com/user/SKSamodiva" target="_blank"><img src="~/Resources/imgs/y.png" alt="LOGO" /></a>
			</div>
			<div class="clearfix"></div>
		</footer>
	</div>
</body>
</html>