@model PlovdivTournament.Web.Models.ProfileViewModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/Site_Layout.cshtml";
}

<div id="ProfileWrap">
    <div class="EditButton">
        <a href="Profile/Edit">Edit</a>
    </div>
    <div class="ChangePasswordButton">
        <a href="Profile/ChangePassword">Change Password</a>
    </div>
    <div class="clearfix"></div>
    <div class="Profile_Photo">
        <img src=@String.Format("Gallery/GetImage/{0}?&width={1}&height={2}", Model.Avatar.Id, 200, 133) />
    </div>
    <fieldset class="Profile_Info">
        <p>Email: <span><a href="#">@Model.Email</a></span></p>
        <p>First Name: <span><a href="#">@Model.FirstName</a></span></p>
        <p>Middle Name: <span><a href="#">@Model.MiddleName</a></span></p>
        <p>Last Name: <span><a href="#">@Model.LastName</a></span></p>
        <p>EGN: <span><a href="#">@Model.EGN</a></span></p>
        <p>Phone: <span><a href="#">@Model.Phone</a></span></p>
        <p>Fax: <span><a href="#">@Model.Fax</a></span></p>
        @if (Model.IsSubscribedForNewsFeed)
        { 
            <p>You are subscribed for news feed</p>
        }

        <legend>Address Info</legend>

        <p>Delivery Line: <span><a href="#">@Model.DeliveryLine</a></span></p>
        <p>City: <span><a href="#">@Model.City</a></span></p>
        <p>State: <span><a href="#">@Model.State</a></span></p>
        <p>Zip: <span><a href="#">@Model.Zip</a></span></p>
        <p>Country: <span><a href="#">@Model.Country</a></span></p>
    </fieldset>
</div>

<div class="clearfix"></div>