@model PlovdivTournament.Web.Models.ProfileViewModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/Site_Layout.cshtml";
}

<div id="ProfileWrap">
 
    <div class="clearfix"></div>
    <div class="Profile_Photo">
        <img src="@String.Format("Gallery/GetImage/{0}?&width={1}&height={2}", Model.Avatar.Id, 200, 133)" />
    </div>
    <fieldset class="Profile_Info">
        <p>Е-майл: <span><a href="#">@Model.Email</a></span></p>
        <p>Име: <span><a href="#">@Model.FirstName</a></span></p>
        <p>Бащино име: <span><a href="#">@Model.MiddleName</a></span></p>
        <p>Фамилия: <span><a href="#">@Model.LastName</a></span></p>
        <p>ЕГН: <span><a href="#">@Model.EGN</a></span></p>
        <p>Телефон: <span><a href="#">@Model.Phone</a></span></p>
        <p>Факс: <span><a href="#">@Model.Fax</a></span></p>

        @if (Model.IsSubscribedForNewsFeed)
        { 
            <p>Вие сте записани да получавам новини</p>
        }

        <p>Улица: <span><a href="#">@Model.DeliveryLine</a></span></p>
        <p>Град: <span><a href="#">@Model.City</a></span></p>
        <p>Област: <span><a href="#">@Model.State</a></span></p>
        <p>Пощенски код: <span><a href="#">@Model.Zip</a></span></p>
        <p>Държава: <span><a href="#">@Model.Country</a></span></p>
    </fieldset>
       <div class="EditButton ProButton">
        <a href="Profile/Edit">Редактирай</a>
    </div>
    <div class="ChangePasswordButton ProButton ">
        <a href="Profile/ChangePassword">Промени паролата</a>
    </div>
</div>

<div class="clearfix"></div>