@model PlovdivTournament.Web.Models.GalleryViewModel

<div class="GalleryNav">
    <ul>
        <li><a href="@Model.ReplaceOrAddToUrl("category", "")">Всички</a></li>
        <li><a href="@Model.ReplaceOrAddToUrl("category", "Класически танц")">Класически танц</a></li>
        <li><a href="@Model.ReplaceOrAddToUrl("category", "Модерен танц")">Модерен танц</a></li>
        <li><a href="@Model.ReplaceOrAddToUrl("category", "Джаз танц")">Джаз танц</a></li>
        <li><a href="@Model.ReplaceOrAddToUrl("category", "Характерен танц")">Характерен танц</a></li>
        <li><a href="@Model.ReplaceOrAddToUrl("category", "Танцово шоу")">Танцово шоу</a></li>
        <li><a href="@Model.ReplaceOrAddToUrl("category", "Етно шоу")">Етно шоу</a></li>
        <li><a href="@Model.ReplaceOrAddToUrl("category", "Латино шоу")">Латино шоу</a></li>
        <li><a href="@Model.ReplaceOrAddToUrl("category", "Продукции")">Продукции</a></li>
        <li><a href="@Model.ReplaceOrAddToUrl("category", "Acrogym")">Acrogym</a></li>
        <li><a href="@Model.ReplaceOrAddToUrl("category", "Hip Hop")">Hip Hop</a></li>
        <li><a href="@Model.ReplaceOrAddToUrl("category", "Break Dance")">Break Dance</a></li>
        <li><a href="@Model.ReplaceOrAddToUrl("category", "Free Open Dance")">Free Open Dance</a></li>
        <li><a href="@Model.ReplaceOrAddToUrl("category", "Party Time Seniors")">Party Time Seniors</a></li>
    </ul>
</div>