@model PlovdivTournament.Web.Models.GalleryViewModel
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/Site_Layout.cshtml";
}

@Html.Partial("CategoryNavigationPartialView", Model)

<div id="column1">
    @for (int i = 0; i <= 3; i++)
    {
        int index = 3 * i;
        if (Model.AllPhotos != null && Model.AllPhotos.Count - 1 >= index)
        {
            string src = String.Format("/Gallery/GetImage/{0}?&width={1}&maxheight={2}", Model.AllPhotos[index].Id, 200, 133);

        <div class="pict">
            <div class="show">
                <div class="Caption">
                    @Model.AllPhotos[index].Title
                </div>
                <div class="clearfix">
                </div>
            </div>
            <a href="/Gallery/Preview/?id=@Model.AllPhotos[index].Id.ToString()&type=@typeof(PlovdivTournament.Entities.Entity.Photo)">
                <img src="@src" alt="PHOTO" />
            </a>
        </div>
        }
    }
</div>
<div id="column2">
    @for (int i = 0; i <= 3; i++)
    {
        int index = 3 * i + 1;
        if (Model.AllPhotos != null && Model.AllPhotos.Count - 1 >= index)
        {
            string src = String.Format("/Gallery/GetImage/{0}?&width={1}&maxheight={2}", Model.AllPhotos[index].Id, 200, 133);

        <div class="pict">
            <div class="show">
                <div class="Caption">
                    @Model.AllPhotos[index].Title
                </div>
                <div class="clearfix">
                </div>
            </div>
            <a href="/Gallery/Preview/?id=@Model.AllPhotos[index].Id.ToString()&type=@typeof(PlovdivTournament.Entities.Entity.Photo)">
                <img src="@src" alt="PHOTO" />
            </a>
        </div>
        }
    }
</div>
<div id="column3">
    @for (int i = 0; i <= 3; i++)
    {
        int index = 3 * i + 2;
        if (Model.AllPhotos != null && Model.AllPhotos.Count - 1 >= index)
        {
            string src = String.Format("/Gallery/GetImage/{0}?&width={1}&maxheight={2}", Model.AllPhotos[index].Id, 200, 133);

        <div class="pict">
            <div class="show">
                <div class="Caption">
                    @Model.AllPhotos[index].Title
                </div>
                <div class="clearfix">
                </div>
            </div>
            <a href="/Gallery/Preview/?id=@Model.AllPhotos[index].Id.ToString()&type=@typeof(PlovdivTournament.Entities.Entity.Photo)">
                <img src="@src" alt="PHOTO" />
            </a>
        </div>
        }
    }
</div>
<div class="clearfix">
</div>
<div id="pager">
    <p>
    @if(Model.MaxPages!=1)
    { 
        if (Model.Page >1)
        {  
            <a href=@Model.ReplaceOrAddToUrl("page", (Model.Page - 1).ToString())>Previous |</a>
        }
        
        if (Model.Page < 5)
        {
            for (int i = 1; i <= 5&&i<=Model.MaxPages; i++)
            {
                if (i == Model.Page)
                {   <a href="#" class="active">@i</a>}
                else
                {   <a href=@Model.ReplaceOrAddToUrl("page", i.ToString())>@i</a>}
            }
      
        }
        else
        {
            for (int i = Model.Page - 2; i <= Model.Page + 2 && i <= Model.MaxPages; i++)
               {
                   if (i == Model.Page)
                   {   <a href="#" class="active">@i</a>}
                   else
                   {  <a href=@Model.ReplaceOrAddToUrl("page", i.ToString())>@i</a>}
               }
        }
      
        if (Model.Page <Model.MaxPages)
        {   
            <a href=@Model.ReplaceOrAddToUrl("page", (Model.Page + 1).ToString())>| Next</a>
        }
    }
    </p>
</div>