@model PlovdivTournament.Web.Models.RegistrationViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/Site_Layout.cshtml";
}
<div id="RegWrap">          
    @using (Html.BeginForm("Register", "Registration", FormMethod.Post))
    {
    <fieldset>
        <legend>Register</legend>
        <div class="RegColumn">
        <p>
            @Html.TextBoxFor(x => x.Email, new { placeholder = "E-mail" })
            @Html.ValidationMessageFor(x => x.Email)
        </p>
        <p>
            @Html.PasswordFor(x => x.Password, new { placeholder = "Password" })
            @Html.ValidationMessageFor(x => x.Password)
        </p>
        <p>
            @Html.PasswordFor(x => x.ConfirmPassword, new { placeholder = "Confirm Password" })
            @Html.ValidationMessageFor(x => x.ConfirmPassword)
        </p>
        <p>
            @Html.TextBoxFor(x => x.FirstName, new { placeholder = "First Name" })
            @Html.ValidationMessageFor(x => x.FirstName)
        </p>
        <p>
            @Html.TextBoxFor(x => x.MiddleName, new { placeholder = "Middle Name" })
            @Html.ValidationMessageFor(x => x.MiddleName)
        </p>
        <p>
            @Html.TextBoxFor(x => x.LastName, new { placeholder = "Last Name" })
            @Html.ValidationMessageFor(x => x.LastName)
        </p>
        <p>
            @Html.TextBoxFor(x => x.Phone, new { placeholder = "Phone" })
            @Html.ValidationMessageFor(x => x.Phone)
        </p>
        <p>
            @Html.TextBoxFor(x => x.Fax, new { placeholder = "Fax" })
            @Html.ValidationMessageFor(x => x.Fax)
        </p>
            </div>
         <div class="RegColumn column2">
        <p>
            @Html.TextBoxFor(x => x.EGN, new { placeholder = "EGN" })
            @Html.ValidationMessageFor(x => x.EGN)
        </p>
        <p>
            @Html.TextBoxFor(x => x.DeliveryLine, new { placeholder = "Delivery Line" })
            @Html.ValidationMessageFor(x => x.DeliveryLine)
        </p>
        <p>
            @Html.TextBoxFor(x => x.City, new { placeholder = "City" })
            @Html.ValidationMessageFor(x => x.City)
        </p>
        <p>
            @Html.TextBoxFor(x => x.State, new { placeholder = "State" })
            @Html.ValidationMessageFor(x => x.State)
        </p>
        <p>
            @Html.TextBoxFor(x => x.Zip, new { placeholder = "Zip" })
            @Html.ValidationMessageFor(x => x.Zip)
        </p>
        <p>
            @Html.TextBoxFor(x => x.Country, new { placeholder = "Country" })
            @Html.ValidationMessageFor(x => x.Country)
        </p>
        <p>
            @Html.TextBoxFor(x => x.ClubName, new { placeholder = "Club Name" })
            @Html.ValidationMessageFor(x => x.ClubName)
        </p>
        <p>
            @Html.TextBoxFor(x => x.ClubInfo, new { placeholder = "Club Info" })
            @Html.ValidationMessageFor(x => x.ClubInfo)
        </p>
             </div>
        <p>
            <label>Subscribe me for news feed
                @Html.CheckBoxFor(x => x.IsSubscribedForNewsFeed, new { placeholder = "Is Subscribed For News Feed" })
            </label>
            @Html.ValidationMessageFor(x => x.IsSubscribedForNewsFeed)
        </p>

        <div class="clearfix"></div>

        @Html.ValidationMessage("Unique")
        <input type="submit" value="Register" class="RegButton"/>

        <div class="clearfix"></div>
    </fieldset>
    }
</div>

<div class="clearfix"></div>
