@model PlovdivTournament.Web.Models.RegistrationViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/Site_Layout.cshtml";
}
<div id="RegWrap">          
    @using (Html.BeginForm("Register", "Registration", FormMethod.Post))
    {
    <fieldset>
        <legend>Регистрация</legend>
        <div class="RegColumn">
        <p>
            @Html.TextBoxFor(x => x.Email, new { placeholder = "Е-майл" })*
        </p>
        <p>
            @Html.PasswordFor(x => x.Password, new { placeholder = "Парола" })*
        </p>
        <p>
            @Html.PasswordFor(x => x.ConfirmPassword, new { placeholder = "Повтори паролата" })*
        </p>
        <p>
            @Html.TextBoxFor(x => x.FirstName, new { placeholder = "Име" })*
        </p>
        <p>
            @Html.TextBoxFor(x => x.MiddleName, new { placeholder = "Бащино име" })*
        </p>
        <p>
            @Html.TextBoxFor(x => x.LastName, new { placeholder = "Фамилия" })*
        </p>
        <p>
            @Html.TextBoxFor(x => x.Phone, new { placeholder = "Телефон" })*
        </p>
        <p>
            @Html.TextBoxFor(x => x.Fax, new { placeholder = "Факс" })
        </p>
            </div>
         <div class="RegColumn column2">
        <p>
            @Html.TextBoxFor(x => x.EGN, new { placeholder = "ЕГН" })*
        </p>
        <p>
            @Html.TextBoxFor(x => x.DeliveryLine, new { placeholder = "Улица" })*
        </p>
        <p>
            @Html.TextBoxFor(x => x.City, new { placeholder = "Град" })*
        </p>
        <p>
            @Html.TextBoxFor(x => x.State, new { placeholder = "Област" })*
        </p>
        <p>
            @Html.TextBoxFor(x => x.Zip, new { placeholder = "Пощенски код" })*
        </p>
        <p>
            @Html.TextBoxFor(x => x.Country, new { placeholder = "Държава" })*
        </p>
        <p>
            @Html.TextBoxFor(x => x.ClubName, new { placeholder = "Име на клуба" })*
        </p>
        <p>
            @Html.TextBoxFor(x => x.ClubInfo, new { placeholder = "Инфо за клуба" })
        </p>
             </div>
        <p>
            <label>Искам да получавам новини
                @Html.CheckBoxFor(x => x.IsSubscribedForNewsFeed)
            </label>
            <label>
                Полетата, отбелязани с * са задължителни
            </label>
        </p>

        <div class="clearfix"></div>
        @Html.ValidationSummary()

        <input type="submit" value="Регистрирай се" class="RegButton"/>

        <div class="clearfix"></div>
    </fieldset>
    }
</div>

<div class="clearfix"></div>
