@model PlovdivTournament.Web.Models.EditClubViewModel

<div class="MembersWrap">
    <div class="AddMemberSection">
         <fieldset>
            <legend>New member</legend>
                       
            <p> <label>First Name:</label> <input name="FirstName" type="textarea" value=@Model.FirstName id="FirstName"/> </p>
            <p> <label>Middle Name:</label> <input name="MiddleName" type="textarea" value=@Model.MiddleName  id="MiddleName"/> </p>
            <p> <label>Last Name:</label> <input name="LastName" type="textarea" value=@Model.LastName  id="LastName"/> </p>
            <p> <label>EGN:</label> <input name="EGN" type="textarea" value=@Model.EGN  id="EGN"/> </p>
            <p> <label>Licence number:</label> <input name="LicenceNumber" type="textarea" value=@Model.LicenceNumber  id="LicenceNumber"/> </p>
            <p><a href="#" onclick="AddMember()">Add</a></p>
        </fieldset>
    </div>
    @if (!string.IsNullOrEmpty(Model.Error))
    { 
        <div class="ErrorMessage">
            <p>@Model.Error</p>
        </div>
    }
    <div class="CurrentMembersSection">
        @foreach (var member in Model.Members)
        {
            <div class="member" id="@member.Id">
                @Html.EditorForModel(member.FirstName);
                @Html.EditorForModel(member.MiddleName);
                @Html.EditorForModel(member.LastName);
                @Html.EditorForModel(member.EGN);
                @Html.EditorForModel(member.LicenceNumber);
                <p><a href="#" onclick="RemoveMember(@member.Id)">Remove</a></p>
            </div>
        }
    </div>
</div>